<div id='updatePasswordPage'>
	<form name="updatePasswordForm" novalidate>
		<div class="modal-header">
			<span class="close" ng-click="cancel()">×</span>
			<h4 class="modal-title">
				<i class="fa fa-plus"></i>&nbsp;
					Password Update
			</h4>
		</div>
		<div class="modal-body">
			<fieldset>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<label for="oldPass">Old Password
						<span class="control-label red">&nbsp;*</span>
						<span ng-show="updatePasswordForm.oldPass.$touched && updatePasswordForm.oldPass.$invalid" class="inputValidationMsg">Required
						</span>
					</label>
					<input placeholder="Old Password" type="password" ng-model="passObject.oldPass" name="oldPass" class="form-control" required/>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop15">
					<label for="newPass">New Password
						<span class="control-label red">&nbsp;*</span>
						<span ng-show="updatePasswordForm.newPass.$touched && updatePasswordForm.newPass.$invalid" class="inputValidationMsg">Required
						</span>
					</label>
					<input placeholder="New Password" type="password" ng-model="passObject.newPass" name="newPass" class="form-control" required/>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margintop15">
					<label for="confirmPass">Confirm Password
						<span class="control-label red">&nbsp;*</span>
						<span ng-show="updatePasswordForm.confirmPass.$touched && updatePasswordForm.confirmPass.$invalid" class="inputValidationMsg">Required
						</span>
						<span ng-show="IsPasswordMatching" class="inputValidationMsg">Both Passwords are not matching.
						</span>
					</label>
					<input placeholder="Confirm Passord" type="password" ng-model="passObject.confirmPass" name="confirmPass" class="form-control" required/>
				</div>
			</fieldset>
		</div>

		<div class="modal-footer">
            <button type="button" class="btn cat-btn-cancel" ng-click="cancel()">
				<i class="fa fa-times black"></i> Cancel
			</button>
			<button  type="submit" class="btn cat-btn-update" ng-disabled="updatePasswordForm.$invalid" ng-click="ok()">
				<i class="fa fa-check white"></i> Save
			</button>
		</div>
	</form>
</div>
